/*课程展示的css样式*/
.classShow {
	position: relative;
	width: 90%;
	z-index: 0;
	margin: 30px auto 10px;
	overflow: hidden;
}
.classShowNav span {
	display: block;
	width: 200px; 
	height: 200px;
	border: 2px solid red;
	margin:10px 35px; 
	padding: 10px;
	float: left;
}
.classShowNav span img {
	width: 200px;
	height: 150px;
}
.classShowNav { 
	margin: 50px 0;
}
.classShow-title {
	height: 40px;
	line-height: 40px;
	color: red;
	font-size: 26px;
	text-align: center;
	border-bottom:2px solid red;
	margin:5px 0;  
}

/*顶部导航栏*/
a {
	text-decoration: none;
}
.course-nav {
	width: 90%;
	margin: 20px auto;

}
.course-nav-item{
	float: left;
	margin: 5px 5px 0px;

}
.course-nav-hd span {
	font-size: 26px;
	border-bottom: 2px solid black;
	display: block;
	line-height: 30px;
	padding: 5px 10px;
	height: 40px;

}
.course-nav-item a {
	display: inline-block;
	color: black;
	padding: 5px 10px;
	width: 50px;
	text-align: center;
}
.course-nav-item:hover a {
	color: #0000ff;
}
.hd {
	display:inline-block;
	width: 50px;
	margin: 10px;
	float: left;
	color: red;
	font-weight: bold;
}
.course-nav-row {
	width: 100%;
    float: left;
    border-bottom: 2px solid black;
    padding: 20px 10px 5px 0px;
    overflow: hidden;
}

.on{
	background-color: #ff0000;
}
/*页码样式*/
.classListPage {
	width:500px;
	margin: 20px 0 20px 500px;
	font-size: 18px;
}
.classListPage li a,strong {
	padding: 10px 5px;
	display: inline-block;
	color: black;
	width: 40px;
    height: 20px;
    text-align: center;
    margin: 0 auto;
}
.classListPage li strong {
    color: red;
}
.classListPage li a:hover {
	color: red;
	text-decoration:underline;
}

/*切换按钮样式*/
.classChose {
	
	width: 300px;
}
.classChose li {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin:20px auto 0;
	width: 50px;
	text-align: center;
}