/*课程展示的css样式*/
.classShow {
	position: relative;
	left: 300px;
	width: 875px;
	z-index: 0;
	margin-top: -250px;
}
.classShow span {
	display: inline-block;
	width: 200px; 
	height: 200px;
	border: 2px solid red;
	margin:10px 0px 10px 40px; 
	padding: 10px;
}
.classShow span img {
	width: 200px;
	height: 150px;
}
.classShowNew,.classShowHot {
	border:2px solid red; 
	margin:0px 10px 50px;
	padding: 0px 0px 15px;
}
.classShow-title {
	height: 40px;
	line-height: 40px;
	color: red;
	font-size: 26px;
	text-align: center;
	border-bottom:2px solid red;
	margin:5px 0;  
}