/*课程展示的css样式*/
a,a:hover {
	color: #000;
	text-decoration: none;
}
.course-nav .course-nav-row {
	z-index: 10;
}

.classShow {
	position: relative;
	width: 90%;
	z-index: 0;
	margin: 30px auto 10px;
	overflow: hidden;

}
.classShowNav span {
	display: block;
	width: 230px; 
	height: 240px;
	border-radius: 10px;
	margin:10px 10px; 
	padding: 10px;
	float: left;
	position: relative;
	overflow: hidden;
	background:#dcdcf3; 
}
.classShowNav span img {
	width: 240px;
	height: 180px;
	border-radius: 5px;
}
.classShowNav { 
	margin: 50px 0;
}

span.className p {
	display: block;
	text-align: right;
	height: 16px;
	margin-top: 5px;
	font-size: 12px;
}
span.className i {
	display: inline-block;
	float: left;
    font-size: 12px;
	font-weight: unset;
	color: #ff0000;
	font-family: 'Microsoft YaHei';
}
span.className b {
	display: inline-block;
    font-size: 12px;
	font-weight: unset;
	color: 000;
}

/*顶部导航栏*/
a {
	text-decoration: none;
}
.course-nav {
	width: 90%;
	margin: 15px auto;
}

.course-nav-hd span {
	font-size: 22px;
	border-bottom: 1px solid #00A1E9;
	display: block;
	line-height: 30px;
	padding: 5px 10px;
	height: 30px;
    color:#00A1E9; 
}
.course-nav-item {
	display: inline-block;
	float: left;
	width: 60px;
	height: 27px;
	text-align: center;
	padding: 0px 0px;
	margin: 0px 10px; 
	border:1px solid transparent;
}
.course-nav-item a {
	line-height: 27px;
	display: block;
	color: #000000;	
	font-size: 14px;
}
.course-nav-item:hover a {
	color: #00A1E9;

}
.course-nav-item:hover {
	border:1px solid #fff100;
}
.course-nav-row span {
	display:block;
	width: 50px;
	float: left;
	color: #00A1E9;
	font-weight: bold;
	font-size: 18px;
	padding: 5px 20px;
}
.course-nav-row {
	width: 100%;
    float: left;
    border-bottom: 1px solid #00A1E9;
    overflow: hidden;
    position: relative;
    padding: 15px 0px 10px 0px;
}

.on{
	background-color: #fff100;
}
.on a {
	color: #00A1E9;
}
.courseChapter li {
	float: left;
}
/*页码样式*/
.classListPage {
	width: 400px;
	margin: 20px auto;
	font-size: 18px;
}
.classListPage li a,strong {
	padding: 10px 5px;
	display: inline-block;
	color: #000;
	width: 40px;
    height: 20px;
    text-align: center;
    margin: 0 auto;
}
.classListPage li strong {
    color: #ff0000;
}
.classListPage li a:hover {
	color: #ff0000;
	text-decoration:underline;
}


