/*全局页面的设置*/
*{margin: 0 ;padding: 0;}

body {
	margin:0 auto;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#6699FF'); /*  IE */
	background-image:linear-gradient(bottom, #dcdcf3 0%, #dcdcf3 100%);
	background-image:-o-linear-gradient(bottom, #dcdcf3 0%, #dcdcf3 100%);
	background-image:-moz-linear-gradient(bottom, #dcdcf3 0%, #dcdcf3 100%);
	background-image:-webkit-linear-gradient(bottom, #dcdcf3 0%, #dcdcf3 100%);
	background-image:-ms-linear-gradient(bottom, #dcdcf3 0%, #dcdcf3 100%);
	width: 100%;
	height: 100%;
	position: relative;
}

ul,li {list-style: none;}
.navcenter {
	height: 230px;
}
a {
	text-decoration: none;
}
/*顶部固定导航栏的css样式*/
.navtop {
    height: 50px;
    font-size: 30px;
    background: #000000;
    overflow: hidden;
    color: #fff;
}
span.navtop-logo {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}
.navtop ul {
	float: right;

}
.navtop ul li {
	float: left;
	height: 50px;
	line-height: 45px;
	padding: 0px 40px;
}
.navtop a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.navtop ul li:hover {
	color: #f00;
	background: #6699FF;
}
li.navtop-class {
    margin-right: 800px !important;
}
/*logo框的css样式*/


/*左侧导航栏的css文件*/
.navleft{
	position: relative;
	top: 70px;
	left: 20px;
    width: 240px;
    border: 2px solid #000;
    border-bottom-style: none;
}
.navleft ul .navleft-tittle {
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-bottom: 2px solid #000;
}
.navleft ul .navleft-tittle a {
	text-decoration: none;
	font-size: 26px;
    font-weight: bolder;
	color: #000;	
}
.navleft ul{
	width: 240px;
}
.navleft ul li {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
.navleft ul li a {
	width: 60px;
	height: 30px;
	display:inline-block;
	line-height: 30px;
	text-decoration: none;
	color: #000;
	font-weight: normal;
	font-size: 18px;
}
.navleft ul li a:hover {
	color: #f00;
}
.grade {
	border-bottom: 2px solid #000;
}
.navleft-high1 {
	
}
/*左侧导航栏具体科目的css文件*/
.navleft-hide {
    display: none;
    width: 500px;
   /* background: #000;*/
    border: 2px solid #000;
    border-bottom-style: none;
    position: absolute;
    top: -100px;
    left: 240px;
    z-index: 9999;
}
.navleft-content {
	position: relative;
}
.navleft ul .navleft-content:hover {
   background: gray;
}
.navleft-hide a {
	text-decoration: none;
}
.navleft-hide dl dt { 
    text-align: center;
	width: 500px;
	padding: 5px 0px;
	border-bottom: 1px solid #000;
}
.navleft-hide dl dt a {
    display: inline-block;
	color: #00f;
	font-size: 22px;
	font-weight: bold;
}
.navleft-hide dl dd {
	margin: 0;
	text-align: center;
	border-bottom: 2px solid #000;
}
.navleft-hide dl dd a {
	display: inline-block;
	padding: 5px 25px;
	color: #000;
	height: 30px;
	line-height: 30px;
}
.navleft-hide dl dd a:hover {
	color: #fff;
	background: gray;
}
/*底部文件样式*/
.footer {
	background: #0a96ff;
	position: relative;
	height: 100px;
	bottom:0px; 
}
.footer ul {
	display: block;
	margin: 10px auto;
	width: 400px;
    padding-top:20px;
}
.footer li {
	display: inline-block;
	margin: 10px;	 
}
.footer span {
	display: block;
	text-align: center;
	padding-bottom:10px; 
}
.footer li a {
	color: #000000;
	font-size: 16px;
}
.footer li:hover a {
	color: #fff;
}