
/**/
/*左侧导航栏的css文件*/
.nav-wrap {
	position: relative;
	top: 50px;
	left: 30px;
}
.navleft-tittle {
	width: 240px;
	margin:0px; 
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #fff100;
	border-bottom: 0;
	border-radius: 10px 10px 0 0;
}
.navleft-tittle a {
	text-decoration: none;
	font-size: 20px;
    font-weight: bolder;
	color: #00A1E9; 	
}
.nav {
    position: relative;
    top: 0px;
	left: 0px;
	height: auto;
	width: 10px;	
}
.nav:hover {
	width: 900px;
	border: 2px solid #fff100;
	background: #f7fbfc;

}


.clear {
	clear: both;
}
.navleft {
	float: left;
    width: 236px;
    padding: 0;
    background: #00A1E9;
    border: 2px solid #fff100;
    overflow: hidden;
}
.nav:hover .navleft {
	border: 0;
	width: 237px;
}
.navleft ul{
	width: 245px;
	margin: 0px; 
}
.navleft ul li {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	padding:10px 0px; 
	color: #ffffff;
}
.navleft ul li a {
	width: 60px;
	height: 30px;
	display:inline-block;
	line-height: 30px;
	text-decoration: none;
	color: #ffffff;
	font-weight: normal;
	font-size: 18px;
}
.navleft ul li a:hover {
	color: #fff100;
	font-weight: bold;
}
.navleft ul .navleft-content:hover {
    background: #f7fbfc;
}
.navleft-content:hover li,.navleft-content:hover li a {
	color: #00A1E9;
}
.navleft-content {
	border-bottom:1px solid #fff100; 
	margin-bottom: -1px;
}

/*左侧导航栏具体科目的css文件*/
.navleft-hide {
    display: none;
    width: 650px;
   /* background: #000;*/
    position: absolute;
    top: 0px;
    left: 240px;
    overflow: hidden;
    background: #f7fbfc;
    height: 300px;
}
.navleft-hide a:hover {
    text-decoration: none;
}

.navleft-hide a {
	text-decoration: none;
}
.navleft-hide dl {
	margin: 0px 25px;
	border-bottom: 1px solid #0000E9;
	height: auto; 
	padding: 5px;
	margin-bottom: -2px;
}
.navleft-hide dl dt { 
	display: inline-block;
	float: left;
    text-align: center;
	width: 60px;
	padding: 5px 0px;
	height: 31px;
	margin: 0 20px 0px 5px;
}
.navleft-hide dl dt a {
    display: inline-block;
	color: #00A1E9;
	font-size: 16px;
	font-weight: bold;
	line-height: 31px;
}
.navleft-hide dl dd {
	margin: 0;
	padding: 5px;
	text-align: left;
	height: 31px;
}
.navleft-hide dl dd a {
	display: inline-block;
	float: left;
	width: 60px; 
	height: 30px;
	color: #00A1E9;
	font-size: 16px; 
	line-height: 30px;
	border-radius: 2px; 
	text-align: center;
}
.navleft-hide dl dd a:hover {
	color: #fff;
	background: #fff100;
	font-weight: bold;
}