.vedio {
	width: 60%;
    position: relative;
	height: 500px;
	margin: 10px 50px;
	border: 2px solid red;
}
.vedioPlay {
	width: 70%;
	border-right: 2px solid red;
	float: left;
	height: 500px;
}
.vedioContent {
	width: 29%;
	float: left;
}