.vedio {
	width: 1002px;
    position: relative;
	height: 610px;
	margin: 50px auto 50px;
    background:#D7E7F4; 
    overflow: hidden;
 
}
.reback {
	overflow: hidden;
	padding: 10px 30px;
	background: #000;
}
.reback a {
	font-size: 16px;
	color: #317EF3;
}

.reback:hover a {
	color:red; 
}
.vedioPlay {
	width: 600px;
	float: left;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background: #000;
	margin:20px; 
	
}
.vedioPlayBox {
    width: 600px;
    height: 450px;
}
.vedioContent {
	width: 300px;
	height: 550px;
	float: left;
    overflow: hidden;
    position: relative;
    border-left: 2px solid #000;
}
.vedioContent span {
	width: 265px;
    display:inline-block;
    padding: 20px 20px;
    word-wrap: break-word;
    font-size: 18px;
}
.vedioContent span strong {
	font-size: 18px;
}

span.time {
	font-size: 14px;
	text-align: right;
	display: block;
	color: red;
}
.bottom {
	background:#000;
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0px;
}